.introContainer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title {
    font-size: 30px;
    padding-bottom: 20px;
}

.content {
    font-size: 20px;
}

.latestProductContainer {
    border-color: rgba(128,128,128, 0.25);
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 0px 15px 15px;
}

.latestProductDate {
    color: rgb(51, 51, 51);
    font-size: 20px;
    padding-bottom: 10px;
}

.lastestProductImageTextContainer {
    display: flex;
    flex-direction: row;
}

.latestProductContent {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    width: 50%;
}

.latestProductImage {
    width: 50%;
}

.latestProductImage img {
    border-radius: 20px;
}

.latestProductImage img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}