.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cartDetailContainer {
    display: flex;
    justify-content: space-evenly;
}

.cartListContainer {
    border: solid 0.5px;
    border-color: black;
    display: grid;
    gap: 15px;
    padding: 10px 0px 10px 0px;
}

.checkoutCard {
    background-color: #eeeeee;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: auto;
    padding: 10px;
}

.checkoutContainer {
    align-content: center;
}

.emptyCartContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
}

.pageTitle {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.total {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    text-align: right;
}