.logo img {
    padding-right: 20px;
    width: 5rem;
}

.navBarContainer {
    background-color: red;
    display: flex;
    padding: 15px;    
}

.right {
    align-content: center;
}

.right:last-child {
    margin-left: auto;
}

.title {
    color: white;
    font-family: Impact;
    font-size: 40px;
    text-transform: uppercase;

    align-content: center;
}