.title {
    background-color: red;
    color: white;
    font-family: Impact;
    font-size: 40px;
    text-transform: uppercase;

    top: 0;
    left: 0;
    right: 0;
    padding: 15px;

    display: flex;
    align-items: flex-start;
}